@import "./scss/fonts";
@import "./scss/mixins";
@import "./scss/variables";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include openSansRegular;
  font-size: 18px;
}

.toolbar {
  display: none;

  @media (min-width: $break1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $size3;

    .toolbar-input {
      padding: 4px;
      border-radius: 4px;
      font-size: 16px;
    }
  }
}

.page-title {
  background-color: $primaryColor;
  padding: $size4;
  color: $inverseColor;
  font-size: 24px;
  @include openSansBold;
}

.page-container {
  background-color: $grayLightColor;
  
  @media (min-width: $break1) {
    flex: 1;
    display: flex;
  }
}

.page_nav {
  background-color: $secondaryColor;
  position: sticky;
  top: 0;
  @media (min-width: $break1) {
    position: static;
    width: 200px;
  }
}

.page_main {
  flex: 1;
}

.menu-title {
  display: none;

  @media (min-width: $break1) {
    display: block;
    padding: $size4 $size4 0;
    color: $tertiaryColor;
    text-transform: uppercase;
  }
}

.menu-container {  
  @include openSansBold;

  @media (min-width: $break1) {
    position: sticky;
    top: 0;
  }  
}

.menu-list {
  @include resetList;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $size4 0;

  @media (min-width: $break1) {
    flex-direction: column;
    align-items: initial;
    justify-content: center;
  }
}

.menu-item {
  background-color: $tertiaryColor;
  border: 1px solid $grayLightColor;
  border-radius: $size1;
  padding: $size4;
  margin: 0 $size2;
  flex: 1;
  
  &:hover {
    background-color: $primaryColor;
    color: $inverseColor;
    cursor: pointer;
  }
  
  @media (min-width: $break1) {
    margin: 0;
    border-radius: 0;
    box-shadow: $boxShadowLight;
  }
}

.card-list {
  @include resetList;
  padding: $size6;

  @media (min-width: $break1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  @media (min-width: $break2) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card-item {
  margin: $size2;
  padding: $size4;
  display: flex;
  align-items: center;
  background-color: $inverseColor;
  border-radius: $size1;

  &:hover {
    box-shadow: $boxShadowMedium;
    cursor: pointer;
  }

  & .card-img {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: $boxShadowLight;
  }
  
  & .member-name {
    margin: 0 0 0 $size4;
  }

  @media (min-width: $break1) {
    flex-direction: column;
    border: 1px solid $secondaryColor;
    width: 250px;

    & .member-name {
      margin: $size4 0 0 0;
      text-align: center;
    }
  }
}

.footer {
  padding: $size4;
  background-color: $tertiaryColor;
  box-shadow: $boxShadowLight;
}